@media (prefers-color-scheme: dark)
{
    .header-search-block
    {
        border: 2px solid var(--color-secondary);
    }
}

header
{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;

    user-select: none;

    background-color: var(--color-header);
}

.header-title-block
{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    width: auto;
    opacity: 1;
    transform: scale(1);
}

.header-title-block h1
{
    font-size: 1.3rem;
}

.header-title-block.hidden
{
    flex: 0 0 0;
    width: 0;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-title-block:not(.hidden)
{
    transition-delay: 0.2s;
}

.header-button
{
    border: none;
    background-color: var(--color-accent);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-block
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-bg);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

#search-input
{
    all: unset;

    padding: 0;
    width: 0;

    transform: translateX(-20px);
    transition: all 0.3s ease;
}

#search-input.visible
{
    padding: 10px;
    width: 50vw;

    transform: translateX(0);
}

#search-button
{
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}