@import url("./main.css");
@import url("./components/note.css");
@import url("./components/note-edit-window.css");

*,
*::before,
*::after
{
    box-sizing: border-box;
}

main .content
{
    display: flex;
    flex-direction: column;
}

#new-task-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-bottom: 20px;
    padding-top: 20px;
}

#new-task-textarea
{
    padding: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 3px 10px -3px var(--color-secondary);
    width: 80vw;
    outline: none;

    transition: 0.1s;

    font-size: 0.875rem;

    resize: none;

    will-change: transform, font-size, box-shadow, border-radius, width, transition, border-right, border-left, border;
}

#new-task-textarea:hover
{
    transform: scale(0.992);
}

#new-task-textarea.focused
{
    transform: none;

    margin-top: 20px;

    font-size: 1rem;
    width: 100vw;
    height: 70vh;
    box-shadow: none;

    border: none;
    border-top: 2px solid rgb(220, 220, 220);
    border-bottom: 2px solid rgb(220, 220, 220);
    border-radius: 0;
}

#save-new-task-button
{
    display: none;
    width: 40vw;
}

#save-new-task-button.visible
{
    display: block;
}

.pinned-tasks-list-block
{
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 10px 20px;

    flex-direction: column;
    gap: 5px;

    transition: 0.3s;
}

.pinned-tasks-list-block.active
{
    display: flex;
}

.pinned-tasks-list-block.visible
{
    visibility: visible;
    opacity: 1;
}

.pinned-tasks-block-content
{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.tasks-list-block
{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    gap: 5px;
}

.tasks-block-content
{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}