@import url("./components/header.css");
@import url("./components/burger.css");
@import url("./components/note.css");
@import url("./components/note-viewer.css");
@import url("./adaptive/desktop.css");

:root
{
    --p1: 1.125rem;

    --h1: 2rem;

    --color-secondary: #A1A3AB;
    --color-accent: #FF6767;
    --color-bg: #f5f8ff;
    --color-header: #f8f8f8;
}

@font-face
{
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

::selection
{
    background-color: var(--color-accent);
    color: white;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background: var(--color-accent);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;

    font-family: "Poppins-Regular";
}

html
{
    font-size: 1rem;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: stretch;

    background-color: var(--color-bg);
}

main
{
    display: flex;
    justify-self: stretch;
    align-self: stretch;

    height: 100%;

    overflow: hidden;
}

.content
{
    flex-grow: 1;
    height: 100%;
    flex: 1;
}

.content-block
{
    height: 100%;
    overflow-y: auto;
}

.content-container-title
{
    user-select: none;
}

.content-container-wrapper
{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
}

.content-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.side-bar
{
    display: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px var(--color-secondary);
    width: 15vw;

    background-color: black;
    border-radius: 0px 10px 10px 0;

    flex-direction: column;

    padding-bottom: 40px;
}

.left-links-block
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2vh;
    padding: 20vh 1vw;
}

.sidebar-github-link-block
{
    padding: 0 1vw;
}

.sidebar-link
{
    display: flex;
    justify-content: start;
    /* gap: 20px; */
    gap: 10px;

    user-select: none;
    -webkit-user-drag: none;

    /* padding: 13px; */
    padding: 10px;

    border-radius: 7px;
    background-color: black;
    color: white;

    transition: 0.3s;
    will-change: transform;

    width: 100%;

    text-align: center;
}

.sidebar-link:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link:active
{
    color: rgb(182, 180, 180);
    transition: 0.1s;
    transform: scale(0.9);
}

.sidebar-link.active
{
    color: var(--color-accent);
    background-color: white;
}

#sidebar-github-link
{
    text-decoration: none;
    justify-content: center;
}

.sidebar-link img
{
    width: 16px;
    height: 16px;

    justify-self: center;
    align-self: center;
}

button
{
    user-select: none;
    transition: 0.3s;
    will-change: transform;
    cursor: pointer;
}

button:active
{
    transition: 0.1;
    transform: scale(0.9);
}

a
{
    text-decoration: none;
    cursor: pointer;
}

.external-link
{
    text-decoration: none;
    color: white;
    transition: 0.1s;
}

.external-link:hover
{
    color: rgb(162, 162, 162);
}

.external-link:active
{
    color: rgb(86, 86, 86);
}

.default-button
{
    font-size: 0.9375rem;
    background-color: black;
    color: white;
    border: none;
    outline: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 7px;

    padding: 7px;
}

#overlay
{
    visibility: hidden;
    opacity: 0;

    backdrop-filter: blur(10px);

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.284);
    transition: 0.5s;
}

#overlay.visible
{
    visibility: visible;
    opacity: 1;
}