@import url("../main.css");
@import url("./note-edit-window.css");
@import url("./new-task-block.css");

main .content
{
    display: flex;
    flex-direction: column;
}

.content-container-title
{
    user-select: none;
}

.pinned-tasks-list-block
{
    visibility: hidden;
    opacity: 0;
    display: none;

    transition: 0.3s;
}

.pinned-tasks-list-block.active
{
    display: flex;
}

.pinned-tasks-list-block.visible
{
    visibility: visible;
    opacity: 1;
}
