@import url("../main.css");
@import url("./note-edit-window.css");
@import url("./new-task-block.css");

main .content
{
    display: flex;
    flex-direction: column;
}

#pinned-tasks-block
{
    visibility: hidden;
    opacity: 0;
    display: none;

    transition: 0.3s;
}

#pinned-tasks-block.active
{
    display: flex;
}

#pinned-tasks-block.visible
{
    visibility: visible;
    opacity: 1;
}
