#new-task-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-bottom: 20px;
    padding-top: 20px;
}

#new-task-textarea
{
    padding: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 3px 10px -3px var(--color-secondary);
    width: 80%;
    max-width: 1000px;
    outline: none;

    transition: 0.1s;

    color: transparent;
    font-size: 0.875rem;

    resize: none;

    will-change: transform, font-size, box-shadow, border-radius, width, transition, border-right, border-left, border;
}

#new-task-textarea:hover
{
    transform: scale(0.992);
}

#new-task-textarea.focused
{
    transform: none;

    margin-top: 20px;

    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    height: 70vh;
    box-shadow: none;

    border: none;
    border-top: 2px solid rgb(220, 220, 220);
    border-bottom: 2px solid rgb(220, 220, 220);
    border-radius: 0;

    color: black;
}

#save-new-task-button
{
    display: none;
    width: 40vw;
}

#save-new-task-button.visible
{
    display: block;
}