@media screen and (min-width: 1024px)
{
    body
    {
        gap: 20px;
    }

    #burger-button
    {
        display: none;
    }

    #search-input
    {
        display: unset;
    }

    main .side-bar
    {
        display: flex;
    }

    .content
    {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .content-block
    {
        border: 2px solid var(--color-secondary);
        border-radius: 16px;
    }

    .note
    {
        min-width: 10vw;
        max-width: 400px;
        width: fit-content;
    }

    #new-task-block #new-task-textarea
    {
        font-size: 1rem;
    }

    #note-edit-window #note-edit-title-input,
    #note-edit-window #note-edit-textarea
    {
        font-size: 1rem;
    }

    #note-edit-window #note-edit-textarea,
    #note-edit-window #note-edit-title-input,
    #note-edit-window .note-edit-window-buttons-block
    {
        width: 80vw;
    }
}