@media screen and (min-width: 1024px)
{
    body
    {
        gap: 20px;
    }

    #burger-button
    {
        display: none;
    }

    #search-input
    {
        all: unset;

        padding: 10px;
        width: 40vw;
    }

    main .side-bar
    {
        display: flex;
    }

    .content
    {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .content-block
    {
        border: 2px solid var(--color-secondary);
        border-radius: 16px;
    }

    .note
    {
        min-width: 10vw;
        max-width: 400px;
        width: fit-content;
    }

    .note-viewer .note-viewer-title-input,
    .note-viewer .note-viewer-textarea
    {
        font-size: 1rem;
    }

    .note-viewer .note-viewer-title-input,
    .note-viewer .note-viewer-textarea,
    .note-viewer .note-viewer-buttons-block
    {
        width: 80vw;
    }
}